
*.xml
*.html
*.iml
out/production/Labs/META-INF/Labs.kotlin_module
Course/Homework1/Persons/120.txt
Course/Homework1/Persons/900.txt
Course/Homework1/Persons/900.txt
Course/Homework1/Persons/900.txt
